<IfModule mod_rewrite.c>
    
	#Bloquear listagem
	Options -Indexes

	Options +FollowSymLinks
	RewriteEngine on

	DefaultLanguage pt-BR
	AddDefaultCharset UTF-8

	

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f

	

	#PAGES**************************************************************

	
	RewriteRule ^home?$ administracao.php [L,QSA]
	RewriteRule ^logout?$ login/logout.php [L,QSA]	
	RewriteRule ^acesso?$ index.php?logout=1 [L,QSA]
	RewriteRule ^atualiza?$ atualizacao.php [L,QSA]
	RewriteRule ^entregas?$ entregas.php [L,QSA]
	RewriteRule ^retaguarda?$ admin/index.php [L,QSA]


	

		


</IfModule>